<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse.job.asif.job4cse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".HelperClass.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.JobBanner"
            android:label="@string/title_activity_job_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ViewJobDetails" />

        <receiver
            android:name=".broadcasts.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.ViewSavedJobs" />
        <activity android:name=".Activities.UserLogin" />
        <activity android:name=".Activities.CompanyLogin" />
        <activity android:name=".Activities.UserDashboard" />
        <activity android:name=".Activities.company_dashboard" />
        <activity android:name=".Activities.user_profile"></activity>
    </application>

</manifest>